@font-face {
   font-family: "Charis SIL Web";
   src: url(CharisSIL-R.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F; /* can be made more precise to further save the bandwidth */
}

@font-face {
  font-family: "Charis SIL Web";
  font-style: italic;
  src: url(CharisSIL-I.woff);
  unicode-range: U+21-17E, U+300-325, U+409-45F;
}

@font-face {
	font-family: "Charis SIL Web";
	font-weight: bold;
	src: url(CharisSIL-B.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F;
}

/*@font-face {
	font-family: "Charis SIL Web";
	font-weight: bold;
	font-style: italic;
	src: url(CharisSIL-BI.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F;
}*/   

#header * {
   padding: 0 0 0 0;
   border: 0px;
   border-color: white;
   white-space: nowrap;
   color: grey;
   font-size: 10pt;
   font-style: italic;
}

#right {
   text-align: right;
}

#left{
   text-align: left;
}

/* this part removes blank spaces on top and bottom of everything; may be improved */
*:not(h1):not(h2):not(p) {
   margin-bottom: 0;
   margin-top: 0;
}

html {
   /* min-height: 100vh; */
   height: max-content;
}

body {
   font-family: "Charis SIL", Cambria, "Charis SIL Web", serif;
   background-color: #f5f5f5;
   /* min-height: 100%; */
   height: max-content;
   padding: 0;
   margin: 0;
}

input, button {
   font-family: inherit;
   font-size: 12pt;
}

div.simpleText, #innerContent {
   border-left: 5px solid #ddd;
   border-right: 5px solid #ddd;
   border-top: 0;
   border-bottom: 0;
}

div.simpleText {
   margin-left: auto;
   margin-right: auto;
   min-height: 100vh;
   width: 450px;
   padding-left: 80px;
   padding-right: 80px;
   text-align: justify;
   font-size: 16pt;
   background-color: #fff;
}

div#error {
   text-align: center;
}

#search {
   width: 430px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding: 2em 0em 1em 0em;
}

#innerContent {
   min-height: 100vh; /* needed for main page */
   /* height: 100vh; */
   width: min-content;
   padding-left: 40px;
   padding-right: 40px;
   margin: auto; /*means center alignment */
   background-color: #fff;
}

#tables-or-not-found {
   background-color: #fff;
   /* height: 100vh; - not needed */
}

#searchBox {
   width: 430px;
   display: flex;
}

#searchBox #word {
   width: 100%;
}

.noselect {
   user-select: none;
}

#options {
   display: inline-block;
   width: 430px;
   text-align: center;
}

#options input[type="radio"] {
   vertical-align: middle;
}

#options label {
   vertical-align: middle;
}

#options fieldset {
   display: inline-block;
   border: 1px dotted;
   font-size: 11pt;
}

#options legend {
   float: left;
   width: 100%;
   padding: 0;
}

#word-not-found, #four-hundred-four {
   text-align:center;
}

table {
   width: 430px;
   border-collapse: collapse;
   border: none;
   border-color: #eee;
}

table:not(.inner):not(#header) {
   margin-left:auto;
   margin-right:auto;
   /* margin-bottom: 2em; - this used to give an unneeded line at the bottom of the page */
}

caption {
   font-style: italic;
}

th:not(.inner) {
   text-align: center;
   padding: 5px 10px 5px 10px;
   font-size: 16pt;
}

td:not(.inner):not(.singleform) {
   text-align: left;
   padding: 5px 10px 5px 10px;
   font-size: 16pt;
}

th:not(.empty), td:not(.emtpy) {
   border: 1px solid #ccc;
}

.inner {
   width: 100%;
   padding: 0px 0px 0px 0px;
   margin: 0 auto;
}

.form-name {
   background-color: #eee;
   font-weight: bold;
}

td.forms:hover:not(.empty):not(.multicell), td.singleform:hover:not(.empty) {
   background-color: #eee;
}

td.singleform {
   margin-left: 100;
   font-size: 16pt;
}

input[type=button] {
   width: 2em;
   text-align: center;
   font-size: 11pt;
   border: 1px;  
}

a.captionlink {
   color: black;
   text-decoration: none;
}