#search, #notation {
   text-align:center;
   margin-left:auto;
   margin-right:auto;
}

#search {
   padding: 2em 0em 1em 0em;
}

#notation {
   padding: 1em 0em 2em 0em;
}

table {
   margin-left:auto;
   margin-right:auto;
   margin-bottom: 2em;
   border-collapse: collapse;
}

td, tr {
   border: 1px solid #ccc;
   text-align: center;
   padding: 15px 0px 15px 0px;
}

#wordnotfound {
   text-align:center;
}

#fourhundredfour {
   text-align:center;
}

tr:hover {
   background-color: #eee;
}