@font-face {
   font-family: "Charis SIL Web";
   src: url(CharisSIL-R.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F; /* can be made more precise to further save the bandwidth */
}

@font-face {
  font-family: "Charis SIL Web";
  font-style: italic;
  src: url(CharisSIL-I.woff);
  unicode-range: U+21-17E, U+300-325, U+409-45F;
}

@font-face {
	font-family: "Charis SIL Web";
	font-weight: bold;
	src: url(CharisSIL-B.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F;
}

/*@font-face {
	font-family: "Charis SIL Web";
	font-weight: bold;
	font-style: italic;
	src: url(CharisSIL-BI.woff);
   unicode-range: U+21-17E, U+300-325, U+409-45F;
}*/

body {
   font-family: "Charis SIL", Cambria, "Charis SIL Web", serif;
}

#search {
   text-align:center;
   margin-left:auto;
   margin-right:auto;
   padding: 2em 0em 1em 0em;
}

#word-not-found {
   text-align:center;
}

#four-hundred-four {
   text-align:center;
}

#invalid {
   text-align:center;
}

table {
   margin-left:auto;
   margin-right:auto;
   margin-bottom: 2em;
   border-collapse: collapse;
}

caption {
   font-style: italic;
}

.form-name {
   font-weight: bold;
}

th:not(.empty), td {
   border: 1px solid #ccc;
   text-align: center;
   padding: 15px 0px 15px 0px;
}

.form-name {
   background-color: #eee;
   font-style: bold;
}

td:hover:not(.empty) {
   background-color: #eee;
}
