#search {
   text-align:center;
   margin-left:auto;
   margin-right:auto;
   padding: 2em 0em 2em 0em;
}

table {
   margin-left:auto;
   margin-right:auto;
   border-collapse: collapse;
}

table, td, tr {
   border: 1px solid #ccc;
   text-align: center;
   padding: 15px 0px 15px 0px;
}

tr:hover {
   background-color: #eee;
}