{% extends "base.html" %}
{% block body %}
<div class="simpleText">
    <br>
    <h2>О нама</h2>
    Здраво свима.
    <br><br>
    Ми смо акцентолози — стручњаци за словенску акцентологију.
    То значи да баш јако волимо нагласке у речима и визуелне акценте изнад словâ.
    Осим тога, желимо да причамо српски (и хрватски, и слично) као матерњи или блиско томе.<br>
    Зато смо створили овај сајт — за себе.
    Да бисмо најзад научили тај језик док нисмо остарели (тад ће бити већ касно).
    А и за све вас — да учите српски заједно са нама.<br>
    <br>
    <h2>О сајту</h2>
    <p><b>Шта је овај сајт? Шта се налази овде?</b></p>
    <p>— Овде се може укуцати реч, па ћете добити акцентуацију те речи у свим облицима, у табличној форми.</p>
    <p><b>Ћирилицом или латиницом?</b></p>
    <p>— Како желите. Ако убаците ћирилицу, добићете облике на ћирилици.
        Ако напишете реч латиницом, резултат ће бити на латиници.</p>
    <p><b>Екавицом или јекавицом?</b></p>
    <p>— Како желите. Можете изабрати различити јат за увод и за резултат.
        (Како се каже „белег“ на јекавштини?.. <a href="/lookup/белег?inputYat=ekav&outputYat=ijekav">Сада знам!</a>)</p>
    <p><b>Шта значи й/ĭ?</b></p>
    <p>— Увели смо симбол й/ĭ за тачно писање дугог једносложног ијекавског јата: <i>брйје̑г</i>.
        Тако се резултати претраге могу користити, на пример, за генерацију говора.
        Ако вам смета овај лук изнад „и“, избаците га сами.<br>
        Исто важи и за кружић испод слоготворног р/r.</p>
    <p><b>Значи да седите онамо код себе и куцате облик за обликом, реч за речју?</b></p>
    <p>— Не. У коду речника има само речнички облик речи и техничка информација о њој.
        Све остало се генерише.</p>
    <p><b>Могу ли да видим коментаре и дугмета на сајту на латиници?</b></p>
    <p>— За сада не. Ускоро ћемо додати и ову функцију.</p>
    <p><b>Којих речи већ има у речнику?</b></p>
    <p>— Глагола; придева; именица мушког и женског рода.</p>
    <p><b>Колико речи има у речнику?</b></p>
    <p>— Тренутно имамо негде око 2500 речи. Ускоро ће бити више! Речник се стално развија и побољшава.</p>
    <p><b>Како да вам помогнем?</b></p>
    <p>— Можете прегледати <a href="/random">случајну реч</a>. То може бити корисно за тестирање речника.<br>
        Можете да нам <a href="mailto:akcentuacija@gmail.com">напишете</a>.<br>
        Можете прегледати <a href="https://github.com/Zabolekar/jezik">наш код</a> и постати још један редактор.</p>    
    <br>
</div>

{% endblock %}
