{% extends "base.html" %}
{% block body %}
<table class="simpletext">
<tr><td class="simpletext">
<div width="100%" align="justify">
    <h2>О нама</h2>
    Здраво свима.
    <br><br>
    Ми смо акцентолози — стручњаци за словенску акцентологију.
    То значи да баш супер волимо нагласке у речима и визуелне акценте изнад словâ.
    Осим тога, желимо да причамо српски (и хрватски, и слично) као матерњи или блиско томе.<br>
    Зато смо саздали овај сајт — за себе.
    Да бисмо најзад научили тај језик док нисмо постали стари (тад ће бити већ касно).
    А и за све вас — да бисте учили српски заједно са нама.<br>
    <br>
    <h2>О сајту</h2>
    Овде се може укуцати реч, па ћете добити акцентуацију те речи у свим облицима, у табличној форми.<br>
    Такође можете прегледати <a href="/random">случајну реч</a>. То може бити корисно за тестирање речника, за забаву и слично.<br>
    Тренутно имамо негде око 2500 речи. Ускоро ће бити више! Речник се стално развива и побољшава.

</div>
</td>
</tr>
</table>
{% endblock %}