{% for length in ["short", "long"] %}
   {% for number in ["sg", "pl"] %}
      <tr>
         <th class="empty"></th>
         <td colspan="3" class="form-name">{{ number|capitalize }}</td>
      </tr>
      <tr>
         <th class="empty"></th>
         {% for c in "mfn" %}
            <td class="form-name">{{ c }}</td>
         {% endfor %}
      </tr>
      {% for case in ["nom", "acc", "gen", "dat", "loc", "ins"] %}
      <tr>
         <th class="form-name">{{ case|capitalize }}</th>
         {% for name, forms in table["%s %s %s" % (length, case, number)] %}
            <td title="{{ name }}">{{ forms|join(", ") }}</td>
         {% endfor %}
      </tr>
      {% endfor %}
   {% endfor %}
{% endfor %}