<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<body>
<form id="search">
   <input type="text" id="word"/>
   <input type="submit" id="button" value="Претрага"/>
</form>
<div id="results"></div>
</body>
</html>