<tr>
   <th class="empty"></th>
   <th class="form-name">Sg</th>
   <th class="form-name">Pl</th>
</tr>
{% for case in ["nom", "acc", "gen", "dat", "loc", "ins", "voc"] %}   
   <tr>
      <th class="form-name">
         {{ case|capitalize }}
      </th>
      {% for nmbr in ["sg", "pl"] %}
         {% set form = table["%s %s" % (nmbr, case)].multiform %}
         {% set num = form|count %}
         <td class="forms">
         {% for i in range(num-1) %}
            {{ form[i]}}<br>
         {% endfor %}
         {{ form[-1]}}
         </td>
      {% endfor %}
   </tr>
{% endfor %}