<tr>
   <th class="empty"></th>
   <th class="form-name">Sg</th>
   <th class="form-name">Pl</th>
</tr>
{% for case in ["nom", "acc", "gen", "dat", "loc", "ins", "voc"] %}   
   <tr>
      <th class="form-name">
         {{ case|capitalize }}
      </th>
      {% set sg_form = table["%s %s" % ("sg", case)].multiform %}
      <td class="forms">
         {{ sg_form|join(', ') }}
      </td>
      {% set pl_form = table["%s %s" % ("pl", case)].multiform %}
      <td class="forms">
         {{ pl_form|join(', ') }}
      </td>   
   </tr>
{% endfor %}