<tr>
   <th class="empty"></th>
   <th class="form-name">Sg</th>
   <th class="form-name">Pl</th>
</tr>
{% for case in ["nom", "acc", "gen", "dat", "loc", "ins", "voc"] %}   
   <tr>
      <th class="form-name">
         {{ case|capitalize }}
      </th>
      {% for nmbr in ["sg", "pl"] %}
         {% set form = table["%s %s" % (nmbr, case)].multiform %}
         {% set num = form|count %}
         <td class="forms">
         {% for i in range(num // 2) %}
            {{ form[i*2]}}, {{ form[i*2+1]}}{% if i*2 + 2 < num %},{% endif%}</br>
         {% endfor %}
         {% if num % 2 == 1 %}
            {{ form[-1]}}
         {% endif %}
         </td>
      {% endfor %}
   </tr>
{% endfor %}