<tr>
   <th class="form-name">
      Inf
   </th>
   <td class="forms" colspan="2">
         {{ table["infinitive"].multiform|join(", ") }}
   </td>
</tr>

<tr>
   <th class="form-name">
      Prs
   </th>
   <th class="form-name">
      Sg
   </th>
   <th class="form-name">
      Pl
   </th>
</tr>

{% for person in ("1","2","3") %}
   <tr>
      <th class="form-name">
         {{ person }}
      </th>
      {% for number in ("sg", "pl") %}
         {% set form = table["prs %s %s" % (person, number)].multiform %}
         {% set num = form|length %}
         <td class="forms">
         {% for i in range(num-1) %}
            {{ form[i]}}<br>
         {% endfor %}
         {{ form[-1]}}
         </td>
      {% endfor %}
   </tr>
{% endfor %}

<tr>
      <th class="form-name">
         Imv
      </th>
      <th class="form-name">
         Sg
      </th>
      <th class="form-name">
         Pl
      </th>
   </tr>
   
{% for person in ("1","2") %}
   <tr>
      <th class="form-name">
         {{ person }}
      </th>
      {% for number in ("sg", "pl") %}
         {% set form = table["imv %s %s" % (person, number)].multiform %}
         {% set num = form|length %}
         <td class="forms">
            {% if form %} 
               {% for i in range(num-1) %}
                  {{ form[i]}}<br>
               {% endfor %}
               {{ form[-1]}}
            {% else %}
               —
            {% endif %}
         </td>
      {% endfor %}
   </tr>
{% endfor %}

<tr>
   <th class="form-name">
      Pf
   </th>
   <th class="form-name">
      Sg
   </th>
   <th class="form-name">
      Pl
   </th>
</tr>
   
{% for gender in ("m","f","n") %}
   <tr>
      <th class="form-name">
         {{ gender }}
      </th>
      {% for number in ("sg", "pl") %}
         {% set form = table["pf %s %s" % (gender, number)].multiform %}
         {% set num = form|length %}
         <td class="forms">
         {% for i in range(num-1) %}
            {{ form[i]}}<br>
         {% endfor %}
         {{ form[-1]}}
         </td>
      {% endfor %}
   </tr>
{% endfor %}

<tr>
  <th class="form-name">
      Aor
   </th>
   <th class="form-name">
      Sg
   </th>
   <th class="form-name">
      Pl
   </th>
</tr>
   
{% for person in ("1","2","3") %}
   <tr>
      <th class="form-name">
         {{ person }}
      </th>
   {% for number in ("sg", "pl") %}
      {% set form = table["aor %s %s" % (person, number)].multiform %}
      {% set num = form|length %}
      <td class="forms">
      {% for i in range(num-1) %}
         {{ form[i]}}<br>
      {% endfor %}
      {{ form[-1]}}
      </td>
   {% endfor %}
   </tr>
{% endfor %}

{% if table["ipf"] %}
   <tr>
      <th class="form-name">
          Ipf
       </th>
       <th class="form-name">
          Sg
       </th>
       <th class="form-name">
          Pl
       </th>
   </tr>
       
   {% for person in ("1","2","3") %}
       <tr>
          <th class="form-name">
             {{ person }}
          </th>
       {% for number in ("sg", "pl") %}
          {% set form = table["ipf %s %s" % (person, number)].multiform %}
          {% set num = form|length %}
          <td class="forms">
         {% for i in range(num-1) %}
            {{ form[i]}}<br>
         {% endfor %}
         {{ form[-1]}}
          </td>
       {% endfor %}
       </tr>
    {% endfor %}
{% endif %}